version: 2.1

executors:
  python:
    parameters:
      image_tag:
        type: string
        default: "python:3.8"
    docker:
      - image: circleci/<< parameters.image_tag >>
    resource_class: large

commands:
  installation:
    steps:
      - checkout
      - run:
          name: "Install Package in Virtual Environment"
          command: |
            virtualenv env -q
            source env/bin/activate
            pip config --site set global.progress_bar off
            pip install ".[complete]"
  install_test_requirements:
    steps:
      - run:
          name: "Install Test Requirements"
          command: |
            virtualenv env -q
            source env/bin/activate
            pip install -r test-requirements.txt

jobs:
  lint_tests:
    working_directory: ~/nlp_primitives
    parameters:
      image_tag:
        type: string
        default: "python:3.8"
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - installation
      - install_test_requirements
      - run:
          name: "Run Lint Tests"
          command: |
            source env/bin/activate
            make lint-tests

  unit_tests:
    working_directory: ~/nlp_primitives
    parameters:
      image_tag:
        type: string
        default: "python:3.8"
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - installation
      - install_test_requirements
      - run:
          name: "Run Unit Tests"
          command: |
            source env/bin/activate
            make unit-tests

  entry_point_test:
    working_directory: ~/nlp_primitives
    parameters:
      image_tag:
        type: string
        default: "python:3.8"
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - installation
      - run:
          name: "Test Entry Point"
          command: |
            source env/bin/activate
            make entry-point-test

  package_test:
    working_directory: ~/nlp_primitives
    parameters:
      image_tag:
        type: string
        default: "python:3.8"
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/nlp_primitives
      - run :
          name: "Install Requirements"
          command: |
            virtualenv env -q
            source env/bin/activate
            pip install -r requirements.txt
            pip install -r complete-requirements.txt
      - install_test_requirements
      - run :
          name: "Create Source Distribution"
          command: |
            virtualenv env -q
            source env/bin/activate
            python setup.py sdist
      - run :
          name: "Install Source Distribution in Virtual Environment"
          command: |
            virtualenv env -q
            source env/bin/activate
            NLP_PRIMITIVES_VERSION=$(python setup.py --version)
            pip install dist/nlp_primitives-${NLP_PRIMITIVES_VERSION}.tar.gz
      - run:
          name: "Run Unit Tests"
          command: |
            source env/bin/activate
            cd ../
            python -c "import nlp_primitives; print(nlp_primitives.__version__)"
            python -c "import sys; print(sys.path)"
            make -C ../ unit-tests

workflows:
  version: 2
  "Integration Tests":
    jobs:
      - lint_tests:
          name: "Lint Tests - Python 3.6"
          image_tag: "python:3.6"
      - lint_tests:
          name: "Lint Tests - Python 3.7"
          image_tag: "python:3.7"
      - lint_tests:
          name: "Lint Tests - Python 3.8"
          image_tag: "python:3.8"
      - unit_tests:
          name: "Unit Tests - Python 3.6"
          image_tag: "python:3.6"
      - unit_tests:
          name: "Unit Tests - Python 3.7"
          image_tag: "python:3.7"
      - unit_tests:
          name: "Unit Tests - Python 3.8"
          image_tag: "python:3.8"
  "Packaging Tests":
    jobs:
      - entry_point_test:
          name: "Entry Point Test - Python 3.6"
          image_tag: "python:3.6"
      - entry_point_test:
          name: "Entry Point Test - Python 3.7"
          image_tag: "python:3.7"
      - entry_point_test:
          name: "Entry Point Test - Python 3.8"
          image_tag: "python:3.8"
      - package_test:
          name: "Packaging Test - Python 3.6"
          image_tag: "python:3.6"
      - package_test:
          name: "Packaging Test - Python 3.7"
          image_tag: "python:3.7"
      - package_test:
          name: "Packaging Test - Python 3.8"
          image_tag: "python:3.8"
